<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easybuy.mapper.OrderMapper">

    <delete id="removeOrder" parameterType="int">
        delete from `easybuy_order` where id=#{id}
    </delete>

    <insert id="addOrder">
        INSERT INTO `easybuy_order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">userId,</if>
            <if test="loginName != null">loginName,</if>
            <if test="userAddress != null">userAddress,</if>
            <if test="createTime != null">createTime,</if>
            <if test="cost != null">cost,</if>
            <if test="statePay != null">statePay,</if>
            <if test="serialNumber != null">serialNumber,</if>
        </trim>
        <trim prefix="VALUE(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="loginName != null">#{loginName},</if>
            <if test="userAddress != null">#{userAddress},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="cost != null">#{cost},</if>
            <if test="statePay != null">#{statePay},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
        </trim>
    </insert>

    <update id="modifyOrder">
        UPDATE `easybuy_order`
        <trim prefix="SET " suffixOverrides=",">
            <if test="userId != null">userId = #{userId},</if>
            <if test="loginName != null">loginName = #{loginName},</if>
            <if test="userAddress != null">userAddress = #{userAddress},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="cost != null">cost = #{cost},</if>
            <if test="statePay != null">statePay = #{statePay},</if>
            <if test="serialNumber != null">serialNumber = #{serialNumber},</if>
        </trim>
        WHERE `id`= #{id};
    </update>

    <select id="findById" resultType="Order">
        SELECT * FROM `easybuy_order`
        WHERE `id`= #{id};
    </select>

    <select id="findBySerialNumber" resultType="Order">
        SELECT * FROM `easybuy_order`
        WHERE `serialNumber` = #{serialNumber}
    </select>

    <select id="findOrderPage" resultType="Order">
        SELECT * FROM `easybuy_order`
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="findOrderCount" resultType="int">
        SELECT COUNT(*) FROM `easybuy_order`
    </select>

</mapper>